//
// Typography variables
//

// see blocks
$serif: 'Cormorant Garamond', serif;
$sansserif: 'Helvetica Neue', sans-serif;

// font-faces
$sans-serif: 'Helvetica Neue', sans-serif !default;
$heading: 'Avenir Next', sans-serif;
$sub-heading: 'Acumin Variable Concept', sans-serif;

$body-line-height: 1.5;
$heading-line-height: 1.15;