	//
	// Image/copy split block
	//

.block.image-copy-split{
	font-size: 0;
	display: flex;
	
	@include media("<=tablet") {
		display: block;
	}
	
	.max-width-container{
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;

		font-size: 0;

		@include media("<=tablet") {
			display: block;
		}

		&.align-image-left {

			.column {
				&.copy {
					order: 2;
					padding-left: $gutter / 2;
				}
				&.image {
					order: 1;
					padding-right: $gutter / 2;
				}
			}
		}
		
		&.align-image-right {

			.column {
				&.copy {
					order: 1;
					padding-right: $gutter / 2;
				}
				&.image {
					order: 2;
					padding-left: $gutter / 2;
				}
			}
		}

		
		.column {
			display: inline-block;
			width: 50%;
			vertical-align: top;				

			@include media("<=tablet") {
				width: 100%;
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			
			&.image {

				img {
					width: 100%;
					display: block;
					object-fit: contain;
				}
			}
			
			&.copy {
				@include media("<=tablet") {
					padding-top: $gutter-mobile;;
				}

				h2 {
					&:last-child { margin-bottom: 0; }		       
				}

				p {	
					&.aboveheadline {
						text-transform: uppercase;
						letter-spacing: 3px;
						color: $midgrey;
						font-size: 13px;
						column-count: 1;
						
						@include media("<=tablet"){
							font-size: 11px;
						}
					}
				}
			}
		}
	}
}